<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Settings</title>
  </head>
  <body>
    <div>
      <span>
        <h1>Settings</h1>
      </span>
      <span>Notifications</span>
      <span>Favorites</span>
      <span>Locations Visited</span>
      <span>About</span>
      <span><button>Delete Account</button></span>
    </div>
    <div>
        <h1>Account Settings</h1><br><br>
        <h4>Email Address</h4>
        <p>Your email address is </p>
        <a href="changepassword.html">Change</a>
    </div>
  </body>
</html>
