<%- include('../components/header',{title:'Laundry-Homepage',auth:auth,data:data,admin:admin});%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Your Password</title>
</head>
<body>
    
</body>
</html>
<%- include('../components/footer') %>