<%- include('../components/header',{title:'Laundry-Homepage',auth:auth,data:data,admin:admin});%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Details</title>
  </head>
  <body>
    <div
      style="background-color: #4db5ff;; box-shadow: 10 px solid black"
      class="firstline"
    >
      Update Details
    </div>
    <form>
      <div class="formbox">
        <label>Username: <input type="text" /></label><br /><br />
        <label>Address: <input type="text" /></label><br /><br />
        <label>Bio: <input type="textbox" /></label><br /><br />
        <label>Birthday: <input type="date" /></label><br /><br />
        <label>Mobile: +91<input type="number" /></label><br /><br />
      </div>
    </form>
  </body>
</html>
<style>
  .firstline {
    text-align: center;
    height: 3rem;

  }
  .formbox {
    border: 1px solid black;
    box-shadow: 1px solid black;
    width: 20rem;
    justify-content: center;
    align-items: center;
    margin-left: 40rem;
    padding-top: 1rem;
    margin-top: 5rem;
  }
</style>
<%- include('../components/footer') %>
